
<div class="table-container">
  <div class="table-row table-header">
    <div class="table-columns">
      <h4>Users id</h4>
    </div>
    <div class="table-columns">
      <h4>Login</h4>
    </div>
    <div class="table-columns">
      <h4>Avatar image</h4>
    </div>
    <div class="table-columns">
      <h4># of followers</h4>
    </div>
  </div>
  {{#each users as |user|}}
<div class="table-row table-body">

  <div class="table-columns">
    <p>{{user.id}}</p>
  </div>

  <div class="table-columns">
    <p>{{user.login}}</p>
  </div>

  <div class="table-columns">
    <img src={{user.avatar_url}} alt={{user.login}} height="50" width="50">
  </div>

  <div class="table-columns">
    <p>{{user.followers}}</p>
  </div>

</div>
<br>

{{/each}}
</div>
